<div class= "edit_conteiner">
    <h1>Edit "To do" (タスクを編集)</h1>
    <%= form_with(model: @task, local: true) do |f| %>
       <p> <%= f.text_field :title %> </p> 
    <h3>期限</h3>
    <%= f.datetime_local_field :due_date %>
    <h3>優先度</h3>
    <p> <%= f.radio_button :priority,2%>
        <%= f.label :priority, "優先度「高」" %></p>
    <p> <%= f.radio_button :priority,1 %>
        <%= f.label :priority, "優先度「中」" %></p>
    <p> <%= f.radio_button :priority,0%>
        <%= f.label :priority, "優先度「低」" %></p>
    <h3>カテゴリの入力(任意)</h3>
    <%= f.text_field :category %>
        <%= f.submit "Update(更新する)"%>

    <% end %>    
</div>