<div class="posts_container">
    <div class="post_card">
        <% if @task.title != nil %>
        <p><%= @task.title %></p>
        <p><%= @task.due_date %></p>
            <% if @task.priority == 2 %>
                    <p>優先順位「高」</p>
                <% elsif @task.priority == 1 %>
                    <p>優先順位「中」</p>
                <% else %>
                    <p>優先順位「低」</p>
            <% end %>
        <% end %>
        
        <% if @task.category != nil %>
            <%= @task.category %>
        <% end %>
    </div>
    
    <% if @task.status == "pending" %>
        <%= link_to "/tasks/#{@task.id}/edit" do %>
            <div class="btn">
                <span>編集</span>
            </div>
        <%end%>
        <div class="btn">
            <%= button_to("完了", "/tasks/#{@task.id}/completed",data: { turbo_method: :post }) %>
        </div>
    <% end %>
    <div class="btn">
        <%= button_to("削除", task_path(@task), method: :delete) %>
    </div>

</div>