<div class="users_container">
    <div class="user_card">
        <% if @user && @user.image.attached? %>
            <%= image_tag @user.image %>
        <% else %>
            <img class="icon_image" src="<%= "/user_images/default_image.png" %>" alt="default image"> 
        <% end %>
        <br>
        <%= @user.name %>
        <br>
        <%= @user.updated_at %>
    </div>
    <% if @user == @current_user %>
    <div class="link_to_edit" style="display: inline-block;">
        <%= link_to "/users/#{@user.id}/edit" do %>
            <div class="btn">
            <span>編集</span>
            </div>
        <%end%>
    <% end %>
    <h2>所属しているグループ</h2>
    <ul>
        <% @user.groups.each do |group| %>
            <li>
              <%= link_to group.name, group_path(group) %> (<%= group.description %>)
            </li>
        <% end %>
    </ul>

    <div>
        <%= link_to "新しいグループを作る", new_group_path %>
    </div>

    <div class="posts_container">
        <% @user.posts.each do |post| %>
            <div class="post_card">
                <%= link_to(post.content,"/posts/#{post.id}") %>
                <a class="post_time"><%= post.created_at%></a>
            </div>
        <% end %>
    </div>
</div>