<div class="event_container">
    <%= form_with(model: Event.new, url: events_path, local: true) do |f| %>
        
            <div>
                <%= f.label :title, "イベント名" %>
                <%= f.text_field :title %>
            </div>
            <div class="datetime-wrapper">
                <label>開始日</label>
                <%= f.date_select :start,{ order: [:year, :month, :day] }, class: "date-select" %>
                <span>日</span>
                <br>
                <label>開始時刻</label>
                <%= f.time_select :start, { minute_step: 1 }, class: "time-select" %>
                <span>（時：分）</span>
            </div>
            <div class="datetime-wrapper2">
                <label>終了日</label>
                <%= f.date_select :end,{ order: [:year, :month, :day] }, class: "date-select" %>
                <span>日</span>
                <br>
                <label>終了時刻</label>
                <%= f.time_select :end, { minute_step: 1 }, class: "time-select" %>
                <span>（時：分）</span>
            </div>
            <div>
                <%= f.label :description, "詳細" %>
                <%= f.text_area :description %>
                <%= f.submit "作成" %>
            </div>
        
    <% end %>
</div>
