<div class="edit_container">
<% if @event.user_id == @current_user.id %>
    <h1>Editting イベントの編集</h1>
        <div>
           <%= form_with(model: @event, local: true) do |f| %>
        <div>
            <%= f.label :title, "イベント名" %>
            <%= f.text_field :title %>
        </div>
        <div class="datetime-wrapper">
            <label>開始日</label>
            <%= f.date_field :start_date, class: "date-select",  value: @event.start&.to_date %>
             <span>日</span>
            <br>
            <label>開始時刻</label>
            <%= f.time_field :start_time, class: "time-select", value: @event.start&.strftime("%H:%M") %>
            <span>（時：分）</span>
        </div>
        <div class="datetime-wrapper2">
            <label>終了日</label>
            <%= f.date_field :end_date, class: "date-select", value: @event.end&.to_date %>
            <span>日</span>
            <br>
            <label>終了時刻</label>
            <%= f.time_field :end_time, class: "time-select", value: @event.end&.strftime("%H:%M") %>
            <span>（時：分）</span><br>
        </div>

        <%= f.label :group_id, "投稿先グループ" %>
        <%= f.collection_select :group_id, @current_user.groups, :id, :name, prompt: "選択してください" %>

        <div>
            <%= f.label :description, "詳細" %>
            <%= f.text_area :description %>
                <div class="btn">
                    <%= f.submit "更新" %>
                </div>
            <% end %>
            <div class="btn">
                <%= button_to("削除", event_path(@event),method: :delete, date: { confirm: "本当に削除しますか？" }) %>
            </div>
        </div>
    <% else %>
        <h1>他のユーザーのイベント</h1>
        <p>このイベントは編集できません。</p>
        <%= render "show" %> <!-- showテンプレートを再利用 -->
    <%end%>

</div>
