<div id="vue-calendar"
     data-is-logged-in="<%= @current_user.present? %>"
     data-current-user-id="<%= @current_user&.id %>"
     data-current-user-name="<%= @current_user&.name %>"
     data-groups="<%= json_escape((@current_user&.groups || []).to_json(only: [:id, :name])) %>"
     data-initial-events="<%= json_escape(@events.map do |event|
       {
         id: event.id,
         title: event.title,
         start: event.start_time&.iso8601,
         end: event.end_time&.iso8601,
         description: event.description,
         group_id: event.group_id,
         group: event.group ? { id: event.group.id, name: event.group.name } : nil
       }
     end.to_json) %>">
</div>