<div id="vue-postindex"
  data-is-logged-in="<%= @current_user.present? %>"
  data-current-user-id="<%= @current_user&.id %>"
  data-current-user-name="<%= @current_user&.name %>"
  data-groups="<%= json_escape(@current_user&.groups.to_json(only: [:id, :name])) %>"
  data-initial-posts="<%= json_escape(@posts.to_json(
    include: { 
      user: { only: [:id, :name], methods: [:image_url] },
      group: { only: [:id, :name] }
    },
    methods: [:likes_count],
    # ここで relative URL を渡す
  )) %>"
></div>
