<div class="posts_show_container">
    <div class="post_user_card">
        <div class="link_to_edit">
            <div class="user_name">
                <%= link_to(@post.user.name,"/users/#{@post.user.id}") %>  
            </div>
        </div>
        <% if @user.image.attached? %>
            <div class="poster_image">
                <%= image_tag @user.image, width: "100" %>
            </div>
        <% else %>
           <img class="icon_image" src = "<%= "/user_images/#{@user.image_name}" %>" >
       <% end %>

    <div class="post_card">
        <%= @post.content %>
        <br>
        <%= @post.updated_at %>
        <% if @post.image.attached? %>
            <%= image_tag @post.image, width: "200" %>
        <% end %>
        <br>
        <% if @post.likes_count == nil %>
            <%="0"+ "いいね！"%>
        <% else %>
            <%="#{@post.likes_count} "+ "いいね！"%>
        <% end %>
    </div>
    <div>
        <% if @post.likes.exists?(user_id: @current_user.id) %>
            <%= button_to 'いいね解除', like_path(post_id: @post.id), method: :delete, id: "unlike-button-#{@post.id}" %>
        <% else %>
            <%= button_to 'いいね', likes_path(post_id: @post.id), method: :post, id: "like-button-#{@post.id}" %>
        <% end %>
    </div>
    
    <% if @post.user == @current_user %>
        <div class="btn">
            <%= button_to("削除", post_path(@post), method: :delete, data: { confirm: "本当に削除しますか？" }) %>
        </div>
        <%= link_to "/posts/#{@post.id}/edit" do %>
        <div  class="btn">
            <span>編集</span>
        </div>
        <%end%>
    <%end%>
    
    <div class>
        <h3>コンシェルジュのひとこと</h3>
        <div class="ai_comment">
            <p><%= @post.ai_comment %></p>
        </div>
        <p>感情判定: <%= @post.sentiment || "解析中..." %></p>
        <p>信頼度スコア: <%= @post.sentiment_score ? @post.sentiment_score.round(3) : "-" %></p>
    </div>

    <h3>コメントを加える</h3>
    <%= form_with(model: [@post, @comment], local: true) do |f| %>
        <p> <%= f.text_field :content %> </p> 
        <p> <%= f.submit "コメントする"%></p>  
    <% end %>
    <% @post.comments.each do |c| %>
        <div class="post_card">
            <%= c.user.name%><br>
            <%= c.content %>  <br>
                 <a class="post_time"><%= c.created_at%></a>
            <%="#{c.likes_count} "+ "いいね！"%>
            <div>
                <%= button_to "×削除", post_comment_path(@post, c), method: :delete, data: { confirm: "本当に削除しますか？" }%>
            </div>
            <% if c.image.attached? %>
                <%= image_tag c.image.variant(resize_to_limit: [50, 50]) %>
            <% end %>
        </div>

    <% end %>

</div>
